.editor-attributes {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
}

.editor-attributes--attribute {
  margin-bottom: 0.5rem;
}

.editor-attributes--name {
  margin-left: 1rem;
}