.editor-container {
  position: absolute;
  right: 0;
  top: 0;
}

.editor-attributes, .editor-scene {
  background: rgba(255, 255, 255, 0.8);
  float: right;
}

.editor-attributes--attribute {
  margin-bottom: 0.5rem;
}


.editor-scene--entity {
  padding: 0.25rem 2rem 0.25rem 1rem;
}